@import "./base.css";
@import "./navbar.css";
@import "./footer.css";
@import "./wave-transitions.css";
@import "./home.css";
@import "./form.css";
@import "./quote-form.css";
@import "./not-found.css";
@import "./auth.css";
@import "./chatbox.css";
@import "./privacy.css";
@import "./legal-notice.css";
