name: Continuous Deployment — System's Matic (VPS)

on:
  workflow_run:
    workflows: ["Continuous Integration — System's Matic"]
    branches: [main]
    types: [completed]

jobs:
  deploy-to-vps:
    name: Déploiement sur VPS via SSH
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Déploiement sur VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/ubuntu/SystemsMatic
            chmod +x deploy.sh
            ./deploy.sh

  notify:
    name: Notification Discord
    runs-on: ubuntu-latest
    needs: deploy-to-vps
    if: always()

    steps:
      - uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: |
            Déploiement terminé sur VPS : ${{ needs.deploy-to-vps.result }}
